@addTagHelper *, Kendo.Mvc

<div id="example">
    <kendo-dialog name="dialog" title="search" width="400" modal="false" on-close="onClose" on-open="onOpen">
        <content>
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-11">
                        @(Html.Kendo().DropDownList()
                                        .Name("colorx")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                            Text = "Tuần này",
                                            Value = "0"
                                        },
                                        new SelectListItem() {
                                            Text = "Tháng này",
                                            Value = "1"
                                        },
                                        new SelectListItem() {
                                                Text = "Tùy chọn",
                                                Value = "2"
                                        },

                                        })
                                    .Value("0")
                                    .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                        )
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-11 row">
                        <div class="col-sm-5">
                            @(Html.Kendo().DatePicker()
                                .Name("datepicker")
                                .Value(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                            )
                        </div>
                        <div class="col-sm-5">
                            @(Html.Kendo().DatePicker()
                              .Name("datepickerto")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                            )
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-11">
                        @(Html.Kendo().ComboBox()
                                .Name("piceList")
                                .Placeholder("Select price")
                                .DataTextField("contactName")
                                .DataValueField("customerID")
                                .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetCustomers", "CustomerRequest");
                                    }).ServerFiltering(true);
                                })
                                .Filter("startswith")
                                .Height(300)
                                .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
                                    "<span>Contact info</span>" +
                                        "</div>")
                                .Template(
                                "<span class=\"k-state-default\"><h6>#: data.contactName #</h6><p>#: data.companyName #</p></span>")
                        )

                    </div>
                </div>
            </form>
        </content>
        <actions>

            <action text="Remind me later">
            </action>
            <action action="installUpdate" primary="true" text="Install update" title="Install Update">
            </action>
        </actions>
        <popup-animation>
            <open duration="500" effects="fade:in" />
            <close duration="500" effects="fade:out" />
        </popup-animation>
    </kendo-dialog>

    <kendo-button name="showDialogBtn"
                  class="hide-on-narrow"
                  style="display:none;"
                  on-click="showDialog">
        Click here to open the dialog
    </kendo-button>
</div>

<script>
    function installUpdate() {
        kendo.alert("Installing Update ...");
    }

    function onClose() {
        $("#showDialogBtn").fadeIn();
    }

    function onOpen() {
        $("#showDialogBtn").fadeOut();
    }

    function showDialog() {
        $('#dialog').data("kendoDialog").open();
    }
</script>

<style>
    #example {
        min-height: 350px;
    }
    .form-group {
        margin-bottom: 0!important
    }
</style>