<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - DRLab.Web</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed vw-100">
    <div class="wrapper">
        <!--Preloading screen-->
        <div class="preloading-screen">

            <svg class="preloading-screen__loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff804d" />
                <circle cx="170" cy="170" r="135" stroke="#404041" />
                <circle cx="170" cy="170" r="110" stroke="#ff804d" />
                <circle cx="170" cy="170" r="85" stroke="#404041" />
            </svg>

        </div>
        <script>
            (function () {
                document.body.onload = () => {
                    $(".preloading-screen").css({ opacity: 0 });
                    setTimeout(() => {
                        $(".preloading-screen").css({ display: 'none' });
                    }, 300);
                };
            })();
        </script>
        <!--End Preloading screen-->
        <!--Load Resource-->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
        <link href="~/css/customer.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link href="~/lib/telerik/Drlab-theme.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/telerik/index.css" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", required: false)
        @*<script src="https://kendo.cdn.telerik.com/2020.1.406/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.aspnetmvc.min.js"></script>*@

        <script src="/lib/telerik/jquery.min.js"></script>
        <script src="/lib/telerik/kendo.all.min.js"></script>
        <script src="/lib/telerik/kendo.aspnetmvc.min.js"></script>

        <!--End Load Reource-->
        <!-- Navbar -->
        @await Html.PartialAsync("_Header")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link py-1 text-center">
                <span class="font-weight-light" style=font-size: 1.6rem;"><strong>Dr</strong>lab</span>
            </a>

            <!-- Sidebar -->
            @await Html.PartialAsync("SideBar")
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper position-relative">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content-header -->
            <!-- Main content -->
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @await Html.PartialAsync("_Footer")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="plugins/jquery/jquery.min.js"></script>*@
    <!-- jQuery UI 1.11.4 -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>

    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/Shared/DrLab.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
