@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/CustomerRequest" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Create Request</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ManagementRequest" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Request Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/LabManagment" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lab Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ManagementSample" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sample Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testing_Info" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Testing List</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/CustomerList" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Customer List</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>User Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Assignment" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Param Assignment</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<style>
    aside.main-sidebar .nav-sidebar > .nav-item > .nav-link.active {
        background: var(--theme-accent);
        color: var(--theme-base-text);
    }
    aside.main-sidebar .nav-sidebar > .nav-item > .nav-link.active > *{
        color: var(--theme-base-text);
    }
    aside.main-sidebar .nav-sidebar > .nav-item * {
        color: #c2c7d0;
    }
    aside.main-sidebar .nav-sidebar > .nav-item:hover {
        background-color: rgba(255,255,255,.1);
    }
</style>
<script>
    (function () {
        $('.sidebar ul.nav.nav-sidebar').find('a[href="' + location.pathname + '"]').addClass('active ');
    })();
</script>