   
@media (max-width: 1296px) {
    #descriptionCustomer {
        margin-left: 0px !important;
    }
    #simpleName {
        margin-left: 0px !important;
    }
    #simpleCode {
        margin-left: 0px !important;
    }
    #innerCode {
        margin-left: 0px !important;
    }
    #weight {
        margin-left: 0px !important;
    }
    #sampleMatrix {
        margin-left: 0px !important;
    }
}
.card-body {
    padding-top: 0;
}

.span-underline {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.pd-left-52 {
    padding-left: 52px;
}
.card-header {
    border-bottom: 0px;
}
.mr-left {
    margin-left: 40px;
}

.pd-left-35 {
    padding-left: 35px;
}

.pd-left-30 {
    padding-left: 30px;
}

.custom-font-weight {
    font-weight: 500 !important;
}

.box {
    float: left;
    padding: 0px 0px;
}

.clearfix::after {
    clear: both;
    display: table;
}

.options {
    margin: 5px 0px 0px 0px;
    float: left;
}
.info-custummer {
    background: #447a99;
}

.pagination {
    float: right;
}

    .pagination a {
        color: black;
        float: left;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        width: 40px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination a.active {
            background-color: var(--theme-accent);
            color: white;
            border: 1px solid var(--theme-accent);
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }


