/**
    Drop down Customize
*/
.k-dropdown--clear.k-dropdown .k-state-default, 
.k-dropdown--clear.k-dropdown .k-state-hover {
    color: #000 !important;
    background: none !important;
    border: none !important;
}
