@model string
@(Html.Kendo().Window()
    .Name(Model)
    .Title("Contact")
    .Content(
    (Html.Kendo().Grid<DRLab.Data.ViewModels.E00T_Customer_ItemViewModel>()
        .Name("gridCustomer")
         .Columns(columns =>
         {
             columns.Bound(p => p.contactName);
             columns.Bound(p => p.address);
             columns.Bound(p => p.note).Hidden();
             columns.Bound(p => p.email).Hidden();
             columns.Command(command => command.Destroy().IconClass("k-icon k-i-trash").Text("Delete")).Width(80);
             columns.Command(command => command.Edit().Text(" ")).Width(80);
         })
          .ClientRowTemplate(
              "<tr data-uid='#: uid #'>" +
               "<td class='details'>" +
                   "<span class='title'>Contact Name:#: contactName #</span><br>" +
                   "<span class='description'>Email : #: email#</span><br>" +
               "</td>" +
               "<td class='details1'>" +
                   "<span  class='title'>Address : #: address#</span><br>" +
                   "<span class='description'>Note : #: note#</span><br>" +
               "</td>" +
                 "<td style='width:80px'>" +
                      "<a onclick = 'deleteRow(#= contactID #)' class='k-button k-button-icontext'" +
                  "<span class='k-icon k-i-trash'></span>Delete</a>" +
                  "</td>" +
                   "<td style='width:80px'>" +
                      "<a onclick = 'editRow(#= contactID #)' class='k-button k-button-icontext'" +
                  "<span class='k-icon k-edit'></span>Edit</a>" +
                  "</td>" +
               "</tr>"
           )

          .ToolBar(toolbar =>
          {
              toolbar.Custom().Text("Add Contact").HtmlAttributes(new { onclick = "customCreate()" });
          })
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:330px;" })
        .DataSource(dataSource => dataSource
        .Custom()
        .Batch(true)
        .PageSize(20)

        .Schema(schema =>
        {
            schema.Model(model =>
            {
                model.Id(p => p.contactID);
                model.Field(p => p.contactID);
                model.Field(p => p.customerCode).ToString();
                model.Field(p => p.contactName);
                model.Field(p => p.note);
                model.Field(p => p.email);
                model.Field(p => p.address);
            })
    .Data(d => "schemaData")
    .Total(t => "schemaTotal");
        })

        )).ToHtmlString()
            )
            .Draggable()
    .Resizable()
    .Width(700)
    .Visible(true)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close()
    )
)

@await Html.PartialAsync("../CustomerItem/CreateCustomerItem")
<script type="text/javascript">
    var Datacode = [];
    var DatacontactID = null;
    function editRow(contact_ID) {                  
            var grid = $("#gridCustomer").data("kendoGrid");
            $.ajax({
                type: "GET",
                url: "/CustomerRequest/GetCustomersItemById",
                data: { id: contact_ID },
                dataType: "Json",
                success: function (response) {
                    data = response;                
                    $('#contactName').val(data[0].contactName);
                    $('#email').val(data[0].email);
                    $('#address').val(data[0].address);
                    $('#note').val(data[0].note);                   
                    Datacode = data[0].customerCode;
                    DatacontactID = data[0].contactID;
                },
                error: function () {
                }
            });
            $("#dialogCusItem").data("kendoDialog").center();
            $("#dialogCusItem").data("kendoDialog").open();       
    }
    function deleteRow(contact_ID) {
        var kendoWindow = $("<div />").kendoWindow({
            title: "Confirm",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#delete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                     $.ajax({
                        type: "GET",
                        url: "/CustomerItem/Destroy_Customer",
                        data: { id: contact_ID },
                        dataType: "Json",
                        success: function (response) {
                            var notification = $("#notiCustomerItem").data("kendoNotification");
                            notification.show({
                                message: "Delete Successful"
                            }, "success");   
                            Loaddata();
                        },
                        error: function () {
                            var notification = $("#notiCustomerItem").data("kendoNotification");
                            notification.show({
                                title: "Wrong Save",
                                message: "Delete error"
                            }, "error");
                        }
                    });
                }

                kendoWindow.data("kendoWindow").close();
            })
            .end()
        //$.ajax({
        //    type: "GET",
        //    url: "/CustomerItem/Destroy_Customer",
        //    data: { id: contact_ID },
        //    dataType: "Json",
        //    success: function (response) {
        //        var notification = $("#notiCustomerItem").data("kendoNotification");
        //        notification.show({
        //            message: "Delete Successful"
        //        }, "success");                    
        //    },
        //    error: function () {
        //        var notification = $("#notiCustomerItem").data("kendoNotification");
        //        notification.show({
        //            title: "Wrong Save",
        //            message: "Delete error"
        //        }, "error");
        //    }
        //});
    }
    function customCreate(e) {
        var DatacontactID = null;
        var titledialog = "Add Contact"
        $("#dialogCusItem input").val("");
        $("#dialogCusItem").data("kendoDialog").center();
        $("#dialogCusItem").data("kendoDialog").open();
    }
    function schemaData() {
        return Datagrid;
    }
    function schemaTotal(response) {
        return Datagrid.length;
    }
</script>
<script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">Are you sure?</p>

    <button class="delete-confirm k-button" style="float: right">Yes</button>
    <a href="#" class="delete-cancel" style="float: right">No</a>
</script>
@section HeadContent {
    <style>
        .title {
            display: block;
            font-size: 1.6em;
        }

        .description {
            display: block;
            padding-top: 1.6em;
        }

        .employeeID, .country {
            font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
            font-size: 50px;
            font-weight: bold;
            color: #898989;
        }

        td.photo, .employeeID {
            text-align: center;
        }

        .k-grid-header .k-header {
            padding: 10px 20px;
        }

        .k-grid td {
            background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.15)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
            padding: 20px;
        }

        .k-grid .k-alt td {
            background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
        }

        .k-widget k-window {
            display: none;
        }
    </style>
}